$dark_desaturated_blue: hsl(238, 29%, 16%);
$shadow: hsla(238, 29%, 16%, 0.5);
$soft_red: hsl(14, 88%, 65%);

// Background gradient:

$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

// Text

$dark_gray: hsl(237, 12%, 33%);
$light_gray: hsl(240, 6%, 50%);

// Dividers

$light_grayish: hsl(240, 5%, 91%);

// Font
$font: "Kumbh Sans", sans-serif;
